@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h1{/**não alterar mais*/
    color:#3c4a34;
    margin-left: 11%;
}/**não alterar mais*/

body{
  background-color:#d4dad1;
  font-family: Kode Mono;
}

.cabecalho {
    display: flex;
    align-items: center;
    background-color:#829d74;
    width: 100%;
    height: 130%;
  }
  
  .logo {/**não alterar mais*/
   width: 120px; /* Ajuste o tamanho da logo */
   height: auto; /* Mantém a proporção da imagem */
   position: absolute;
   left: 2%;
   top: 1.3%;
  }/**não alterar mais*/
  