@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h1{
    color:#3c4a34;
    margin-left: 15%;
}

body{
  background-color:#d4dad1;
  font-family: Kode Mono;
}

.cabecalho {
    display: flex;
    align-items: center;
    background-color:#829d74;
    width: 100%;
    height: 70px;
    border-bottom: 0.1px solid #c5a880;
  }
  
  .logo {
    background-color: transparent;
    width: 38px;
    height: 38px;
    border: 0.4px solid #f5f5dc;
    margin: 8px;
    cursor: pointer;
  }
  
  .botoes-cabecalho {
    margin-left: auto;
  }