@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

label{
    color: white;
}



h2{
    color: rgb(10, 40, 11);
}

body {
    font-family: 'Kode Mono';
    background-color: #97a079;
    padding: 30px;
}

.form-container {
    background-color: rgb(106, 139, 86);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.form-container h2 {
    text-align: center;
}

.form-container label {
    display: block;
    margin: 10px 5px;
}

.form-container input, .form-container button {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    background-color: #273b1f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.form-container button:hover {
    background-color: #1f2d1a;
}

.form-container button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.message {
    text-align: center;
    font-size: 16px;
}

.success {
    color: green;
}

.error {
    color: red;
}
