
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  position: static;
  color: #3c4a34; 
  margin-left: 11%;
}

body {
  background-color: #c7d5c0;
  font-family: 'Kode Mono', monospace;
  min-width: 1200px;
  transition: .5s;
}

body.dark{
  background-color: #031617;
}

body.dark h1{
  color: #a0a179;
}

/* Estilo do cabeçalho */
#cabecalho {
  display: flex;
  align-items: center;
  background-color: #829d74;
  width: 100%;
  height: 79px;
  transition: .5s;
  flex-direction: row;
  justify-content: space-between;
}

#cabecalho.dark{
background-color: #0e3d42;
}

/* Estilo da logo */
#logo {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 3%;/* Distância da borda esquerda */
  width: 100px; /* Largura fixa para evitar mudanças com o zoom */
  height: 70px; 
}

.container-switch {
  width: 55px;
  height: 30px;
  background-color: #d4dad1;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  bottom: 30px; /* Ajuste o valor para movê-lo mais para cima */
 
  margin-left: 91%;
}

.container-switch .indicador { /*modo claro*/
  width: 30px;
  height: 30px;
  background-color:  #fafff7;
  background-image: url('/TaskBoard/styles/IMAGENS/sun.png'); 
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.container-switch.dark .indicador{ /*modo escuro*/
  left: 26px;
  background-color: #829d74;
  background-image: url('/TaskBoard/styles/IMAGENS/moon.png'); /* Adicione o caminho para sua imagem */
  background-size: cover; /* Garante que a imagem cubra completamente o círculo */
  background-position: center; /* Centraliza a imagem */
}

.container-switch.dark{
  background-color: #15545b;
}

.logout-button {
  background: none;
  width: 80px;
  border: none;
  font-size: 20px;
  font-family: 'Kode Mono', monospace;
  cursor: pointer;
  transition: 0.5s;
  color: #d7d8c0;
}

.logout-button :hover{
  color: #867940;
}

.dropbtn {
  font-family: 'Kode Mono', monospace;
  background-color:#e5eef4;
  color: #675f4b;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 45px;
  border-radius: 5px;
  transition: 0.5s;
}

.dropbtn:hover{
  background-color: #5c542d;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  top: 13%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #d9e5d5;
  height: 70vh;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  list-style: none;
  overflow-y: hidden;
  overflow: scroll;
  user-select: none;
}

.dropdown-content a {
  color: #675f4b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color:#c9d1c3;
}

.dropdown:hover .dropdown-content {
 display: none;
}

.name-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-right: 25px;
}

.name-logout p {
  font-size: 20px;
  color: #d7d8c0;
  border-right: #e8e2da solid 1px;
  padding: 10px;
  margin-right: 3px;
  font-weight: bold;
}

/* Estilo do container de botões */
#container-botoes{
  background-color: #9cbf8b;
  width: 100%;
  height: 50px;
  border: #829d74 1px solid;
  transition: .5s;
}

#container-botoes.dark{
  background-color: #042b2e;
  border-color: #042b2e;
}

.dropbtn {
  font-family: 'Kode Mono', monospace;
  background-color:#e5eef4;
  color: #675f4b;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 45px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  top: 13%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #d9e5d5;
  height: 70vh;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  list-style: none;
  overflow-y: hidden;
  overflow: scroll;
  user-select: none;
}

.dropdown-content a {
  color: #675f4b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color:#c9d1c3;
}

.dropdown-item {
  color: #455763;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.name-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-right: 30px;
}

.name-logout p {
  font-size: 20px;
  color: #d7d8c0;
  border-right: #e8e2da solid 1px;
  padding: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.logout-button {
  background: none;
  width: 80px;
  border: none;
  font-size: 20px;
  font-family: 'Kode Mono', monospace;
  cursor: pointer;
  transition: 0.5s;
 
}

.logout-button:hover{
  color: #867940;
}

/* Estilo básico para o modal */
.modal {
  display: none; /* Esconde o modal por padrão */
  position: fixed;
  z-index: 1; /* Fica sobre os outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro */
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

/* Estilo do botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#submitColumnButton {
  padding: 10px;
  background-color: #769766;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submitColumnButton:hover {
  background-color: #5b794d;
}

#addColumnButton {
  padding: 10px 20px;
  background-color: #769766;
  color: white;
  border: none;
  font-family: 'Kode Mono';
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  position: relative;
  top: 10%;
}

#addColumnButton:hover {
  background-color: #c9d1c3;
}



