main {
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 20px;
  overflow-x: auto;
  min-height: calc(100vh - 70px);
}

.columns {
  display: flex;
  gap: 15px;
  margin-top: 50px;
  padding: 30px;
  overflow-x: auto;
  overflow-y: hidden;
}

.column {
  width: 250px;
  background-color: #e8e2da;
  border-radius: 8px;
  padding: 10px;
  min-width: 200px;
  height: fit-content;
  outline: rgb(128, 159, 110) 2px solid;
}

.column.dark{
  background-color: #3f5a49;
  outline: rgb(128, 159, 110) 2px solid;
 
}

.column-title {
  color: #867940;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

/* Botão para adicionar nova tarefa */
.add-tarefa {
  margin: 10px;
  background-color: #867940;
  color: #e8ddcf;
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.add-tarefa:hover {
  background-color: #d6c9b4;
  color: #5c542d;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#addColumnButton {
  padding: 10px 20px;
  background-color: #769766;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  position: relative;
  top: 10%;
}

#addColumnButton:hover {
  background-color: #c9d1c3;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-column {
  background-color: #7fab72;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-column:hover {
  background-color: #e63939;
}

.delete-card-icon {
  font-size: 18px;
  color: red;
  cursor: pointer;
  margin-left: 10px;
}

.delete-card-icon:hover {
  color: darkred;
}
