@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1{/*não alterar mais*/
 color: #5e0000;
 font-family: 'Kode Mono', monospace;
}/*não alterar mais*/

body{/*não alterar mais*/
    background-color:#829d74;
   font-family: 'Kode Mono', monospace
}/*não alterar mais*/

.box-imagem{ /*não alterar mais*/
  background-image: url(/TaskBoard/styles/IMAGENS/gif.taskboard.gif);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 290%;
  display: flex;
  justify-content: center;
  max-width: 400%; /* Largura máxima do box */
  margin-top: 10%;
  position: relative;
} /*não alterar mais*/


.box-login {/*não alterar mais*/
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo com 80% de opacidade */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  color: rgb(136, 14, 14); /* Cor do texto */
  margin: 50px auto;
  text-align: center;
  outline: #829d74 4px solid;
}/*não alterar mais*/

#input-email {/*não alterar mais*/
  display: flex;
  flex-direction: column;
  align-items: center;
}/*não alterar mais*/

#acessar-botao {/*não alterar mais*/
  color: #5e0000;
  background-color: #ffffff; /* Fundo opaco */
  border: 2px solid #ffffff;;
  padding: 4px 4px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 5%;
  margin-right: 25px;
}/*não alterar mais*/

#acessar-botao:hover {
  background-color: #5e0000;
  color: white;
  border-color: #5e0000;
}

input {
  color: #5e0000;
  background-color: #ffffff; /* Fundo opaco */
  padding: 2px;
  margin-top: 2px;
  width: 50%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#error-message{
  color: rgb(188, 40, 40);
  font-size: 14px ;
  margin-top: 5px;
}

